:root {
    --primary-bg-color: #014E56;
    --secondary-bg-color: #012F34;
    --accent-bg-color: #F67E7E;
    --text-primary-color: #F67E7E;
    --text-secondary-color: #79C8C7;
    --text-accent-color: #012F34;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Livvic', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    background-color: var(--primary-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

.logo {
    width: 120px;
}

.hamburger-button {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    z-index: 99;
}

.hamburger-button .bar, .hamburger-button::after, .hamburger-button::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-button.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger-button.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger-button.is-active .bar {
    opacity: 0;
}

header h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 1rem;
    color: white;
}

header h2 span {
    color: var(--text-primary-color);
}

header p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5rem;
    line-height: 28px;
    padding: 0.5rem;
    color: white;
}

.description h2 {
    width: clamp(14rem, 100vw, 14rem);
    margin-left: 20%;
}

.description-svg {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: #004047;
    z-index: 9;
    overflow: hidden;
    transition: 0.4s;
}

nav.is-active {
    right: 0;
}

.link {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 50% 5rem;
    text-align: start;
}

.links a {
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.nav-svg {
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: 99;
}

.links .contact {
    padding: 1rem 1rem;
    text-align: center;
    width: 159px;
    border-radius: 30px;
    background-color: transparent;
    border: solid white 2px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.above-main {
    position: relative;
    padding: 4rem 1.5rem;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
}

.main-pattern {
    position: absolute;
    right: -100px;
    top: 0;
}

.above-main hr {
    width: 50px;
    height: 3px;
    background: var(--accent-bg-color);
    border: none;
    margin-bottom: 2rem;
}

.above-main h2 {
    font-size: 32px;
    width: 60%;
    font-weight: 700;
    margin-bottom: 4rem;
    color: white;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature:nth-child(2) {
    margin: 3rem 0;
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.feature h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 1rem 0;
    color: var(--text-primary-color);
}

.feature p {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.down-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem 1.5rem 5rem 1.5rem;
    background-color: #004047;
}

.down-main svg {
    position: absolute;
}

.review-svg {
    left: 0;
    top: 0;
}

.bottom-review-svg {
    bottom: 0;
    right: 0;
}

.down-main h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 5rem;
    color: white;
}

h2 span {
    color: var(--text-secondary-color);
}

.down-main img {
    width: 62px;
    border-radius: 50%;
    border: solid white 1px;
}

.review {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

.review svg {
    top: -12%;
    right: calc(50% - 33.5px);
}

.reviews {
    display: flex;
    flex-direction: column;
}

.reviews blockquote {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    z-index: 99;
    letter-spacing: 1.5px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.author img {
    margin-top: 0.5rem;
}

.author * {
    margin-bottom: 0.5rem;
}

.author span:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-secondary-color);
}

.author span:nth-child(2) {
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
}

.above-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    overflow: hidden;
    background-color: var(--accent-bg-color);
}

.above-footer svg {
    position: absolute;
    bottom: -25px;
    left: 0;
}

.contact-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 60%;
}

.contact-us h6 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--text-accent-color);
}

.contact-us .contact {
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: transparent;
    border: solid var(--text-accent-color) 2px;
    font-size: 20px;
    color: var(--text-accent-color);
    font-weight: 900;
    cursor: pointer;
}

.contact-us .contact:hover {
    transition: 0.4s;
    background-color: #002529;
    color: white;
}

.down-footer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #002529;
}

.home-about {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 1.5rem 0;
}

.home-about *:hover {
    cursor: pointer;
    color: var(--text-primary-color);
    transition: 0.4s;
}

address {
    margin-bottom: 10px;
    font-weight: 600;
    font-style: normal;
    color: gray;
}

.down-footer a {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.social-icons svg:hover {
    fill: var(--text-primary-color);
    transition: 0.4s;
}

.social-icons svg {
    fill: white;
}

.socials span {
    font-size: 15px;
    font-weight: 500;
    margin-top: 1rem;
    color: gray;
}

.socials ul {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    nav {
        display: block;
        right: auto;
        position: static;
        min-height: fit-content;
        background-color: transparent;
        margin-left: 2rem;
    }

    header p {
        padding: 1rem 9rem;
    }

    .hamburger-button {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .links a {
        margin: 0;
    }

    .links a:hover {
        cursor: pointer;
        color: var(--text-primary-color);
        transition: 0.4s;
    }

    .link a {
        margin: 0;
        margin-right: 2rem
    }

    .contact {
        margin: 0;
        margin-bottom: 0;
    }

    .links .contact {
        padding: 0.75rem 1rem;
        margin: auto;
    }

    .links .contact:hover {
        cursor: pointer;
        background-color: white;
        color: var(--text-accent-color);
        transition: 0.4s;
    }

    .nav-svg {
        display: none;
    }

    .link {
        display: flex;
        flex-direction: row;
    }

    .about p {
        padding: 1rem 8rem;
        font-weight: 700;
    }

    .header-svg {
        bottom: 0;
    }

    .down-main {
        padding: 7rem 4rem 0;
    }

    .down-main h2 {
        width: 450px;
    }

    .features {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-left: 10%;
        height: 600px;
    }

    .above-main h2 {
        margin-left: 10%;
    }

    .feature {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3.1rem;
    }

    .feature-description {
        align-items: center;
        width: 400px;
    }

    .above-footer {
        height: 200px;
    }

    .contact-us {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .down-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: end;
        padding: 2rem;
        position: relative;
    }

    .address-socials {
        width: 100vw;

    }
    
    address {
        width: 100%;
    }

    .social-icons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }

    .socials ul {
        width: 120px
    }

    .socials {
        flex-direction: row;
        justify-content: end;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        position: relative;
        padding: 2rem 10rem;
        height: 700px;
    }

    header h2 {
        font-size: 70px;
        line-height: 40px;
        margin: 0;
    }

    header p {
        padding: 0;
        width: 350px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .description {
        display: flex;
        position: relative;
        justify-content: space-between;
        text-align: start;
        align-items: end;
        width: 100%;
        margin-top: 7rem;
    }

    .header-svg {
        position: absolute;
        bottom: 0;
        right: 10rem;
    }

    .description-svg {
        display: block;
        position: absolute;
        left: -260px;
        top: calc(50% - 100px);
    }

    .above-main {
        display: flex;
        justify-content: space-around;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .above-main h2 {
        width: 330px;
        margin-right: 2rem;
    }

    .main-pattern {
        top: auto;
        bottom: 0;
    }

    .features {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

    .feature {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3.1rem;
    }

    .feature-description {
        align-items: center;
        width: 400px;
    }

    .reviews {
        flex-direction: row;
        gap: 2rem;
    }

    .contact-us {
        width: 60%;
    }

    .down-footer {
        display: flex;
        padding: 2rem 10rem;
        align-items: center;
    }

    .home-about {
        margin-bottom: 0;
        margin-top: 2.5rem;
    }

    address li {
        margin: 5px;
    }

    .address-socials {
        display: flex;
        text-align: start;
        margin-left: 8rem;
    }

    .social-icons {
        position: static;
    }

    .socials {
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        text-align: end;
        width: 500px;
        margin: 0;
    }
}
